* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    height: 3000px;
}
:root {
    --main-color: #623bc2;
    --accent-color: #ff495a;
    --text-color: #463853;
    --light-text-color: #998da0;
    --contrast-text-color: #fff;
}

button {
    background-color: var(--accent-color);
    color: var(--contrast-text-color);
    border: 2px solid var(--accent-color);
    box-shadow: none;
    outline: none;
    padding: 10px 40px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s all;
}

button.small {
    padding: 5px 20px;
    font-size: 14px;
}

button:hover {
    background-color: transparent;
    color: var(--accent-color);
}

.hover-accent:hover {
    background-color: transparent;
    border-color: var(--contrast-text-color);
    color: var(--contrast-text-color);
}

.menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 250px;

}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.logo span:after {
    content: '';
}
.menu-container img {
    width: 30px;
    display: block;
    border-radius: 50%;
    margin-right: 15px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 50px;
}

.menu-list li {
    margin: 0 10px;
    padding: 10px 0;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.menu-list li:after {
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    left: 0;
    height: 2px;
    background-color: #000;
    transition: 0.3s all;
}
.menu-list li:hover:after {
    width: 100%;
}

header {
    background-color: var(--main-color);
    color: var(--contrast-text-color);
    height: 100vh;
    padding: 0 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 500px;
}

header .description {
    width: 700px;
}

header .description h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}
header .description p {
    font-size: 18px;
    margin: 10px 0;
}

header .description button {
    margin-top: 30px;
}


section {

    padding: 120px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


section img {
    width: 500px;
}

section .info-container h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

section .info-container p {
    font-size: 18px;
    margin: 10px 0;
}

section .info-description {
    padding-left: 100px;
}


article { 
    padding: 120px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--contrast-text-color);
}

article .mid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article img {
    width: 450px;
}

article .mid-description {
    width: 900px;
    
}

article .mid-description h3 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

article .mid-description p {
    font-size: 18px;
    margin: 10px 0;
    margin-right: 100px;
}



footer {
    padding: 120px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;   

}


footer .video {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 200px;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container p {
    margin-right: 100px;
    font-weight: bold;
    font-size: 28px;
}

footer .container .mail {
    width: 300px;
    height: 46px;
    border: none;
    border-bottom: 2px solid rgb(184, 181, 181);
    margin-right: 20px;


}

footer .container .mail::placeholder {
    font-size: 24px;
    
}
    
footer .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    margin-top: 200px;
}

footer .foot-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.contacts img {
    width: 30px;
    display: block;
    border-radius: 50%;
    margin-right: 15px;
}

footer button.small {
    margin: 10px 2px;
}



@media (max-width:1400px) {
    header {
        padding: 0 150px;
    }
}
@media (max-width:1200px) {
    header {
        padding: 0 80px;
    }
}

@media (max-width:1000px) {
    header img {
        display: none;

    }
}

@media (max-width:700px) {
    header {
        padding: 0 40px;
        
    }

    header .description h1{
        font-size: 40px;
    }
}

